/**
 * SIXTYFPS.COM.AU | Created by Boris Etingof, boris.etingof@gmail.com
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #000000;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(../fonts/cuprum.woff) format('woff');
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url(../fonts/cuprum.woff) format('woff');
}

#wrapper, #staticHTML, #webglContainer, #svgContainer, #interactiveHTML {
    position: absolute;
}

#wrapper {
    overflow: hidden;
    width: 900px;
    height: 600px;
}

.preloader{
    position: absolute;
    margin: -75px 0 0 -243px;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

ul.progress-list{
    font-family: 'Cuprum', Arial, serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    list-style: none;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
}
ul.progress-list li{
    float: left;
}
ul.progress-list.small {
    width: 10100px;
    color: #828282;
    letter-spacing: 1px;
}
ul.progress-list.small li{
    width: 80px;
    font-size: 10px;
}
ul.progress-list.large {
    width: 10100px;
    color: #ffffff;
}
ul.progress-list.large li{
    width: 60px;
    font-size: 40px;
}

.counter-small-left, .counter-small-right{
    height: 12px;
    overflow: hidden;
    position: absolute;
    top: 20px;
}
.counter-small-left{
    width: 100px;
    left: 38px;
}
.counter-small-right{
    width: 260px;
    left: 300px;
}
.counter-large{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 200px;
}

.counter-arrow{
    width: 5px;
    height: 3px;
    background: url(../img/preloaderArrow.png) no-repeat;
    position: absolute;
    top: -35px;
    left: 217px;
}

.progress-bar{
    height: 30px;
    width: 0;
    background: white;
    position: absolute;
    top: 80px;
    left: 217px;
    transition: width 0.2s ease-out;
    -webkit-transition: width 0.2s ease-out;
}

.progress-top-mark{
    height: 30px;
    width: 10px;
    background: #5ea6ff;
    position: absolute;
    top: 80px;
    left: 380px;
}

.title-container{
    width: 300px;
    height: 17px;
    overflow: hidden;
    top: 76px;
    left: -90px;
    position: absolute;
}

.file-title{
    width: 300px;
    text-align: right;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    position: absolute;

    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
}

.font-loader{
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: 999px;
    position: absolute;
    top:0;
    left: 0;
}

.info {
    position: absolute;
    top: 756px;
    width: 900px;
    height: 230px;
}

h1, p, a {
    font-family: 'Cuprum', Arial, serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

h1 {
    font-weight: 700;
    font-size: 125px;
    margin: 0;
    padding: 0;
}

p, ul, li {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.date, .title, .resp, .description, .titleWrapper, #one, #two {
    position: absolute;
}

.date {
    top: 12px;
}

.titleWrapper {
    width: 900px;
    height: 100px;
    overflow: hidden;
    top: 27px;

}

.description {
    top: 127px;
}

.resp {
    top: 144px;
}

.resp .respTitle {
    position: relative;
    float: left;
}

.resp ul {
    position: relative;
    float: left;
    list-style-type: none;
    padding-left: 7px;
}

.resp li {
    position: relative;
    height: 14px;

}

.resp li p {
    color: black;
    background: url('../img/respbg.gif') repeat-x 0 3px;
    display: block;
    position: absolute;
    padding: 1px 2px;
}

.logoWrapper {
    width: 115px;
    height: 40px;
    overflow: hidden;
    position: absolute;
}

.logoWrapper div {
    width: 115px;
    height: 40px;
    background: url(../img/logos.png) no-repeat 0 40px;
    position: absolute;
}

.leftArrowWrapper, .rightArrowWrapper {
    width: 29px;
    height: 46px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

.leftArrow {
    background: url(../img/leftArrow.png);
    position: absolute;
    width: 87px;
    height: 46px;
    left: 0;
}

.rightArrow {
    background: url(../img/rightArrow.png) -87px 0px;
    position: absolute;
    width: 87px;
    height: 46px;
    right: 0;
}

.me {
    position: absolute;
    width: 220px;
    height: 28px;
    display: none;
    cursor: pointer;
}

.me p {
    position: relative;
    float: left;
}

.me a.name {
    position: relative;
    float: left;
    padding-top: 6px;
    text-decoration: none;
    font-size: 13px;
}

.me p.leftbr {
    padding-right: 5px;
    font-size: 20px;
}

.me p.rightbr {
    padding-left: 5px;
    font-size: 20px;
}

.blackbg {
    position: absolute;
    height: 260px;
    background: url('../img/gradient.png') repeat-x;
    display: none;
}

.introWrapper, .be, .start {
    width: 240px;
    height: 34px;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

.be {
    color: #ffffff;
    top: 0;

}

.start {
    color: #ffffff;
    top: 34px;
}

.be p, .start p {
    font-size: 40px;
    position: absolute;
    top: -11px;
}

.start p {
    color: #cce3ff;
    left: 66px;
}

.best {
    width: 110px;
    height: 17px;
    overflow: hidden;
    position: absolute;
}

.best p {
    display: block;
    position: absolute;
}

.introBgWrapper {
    width: 369px;
    height: 137px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.introClicker {
    width: 410px;
    height: 137px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    background: url('../img/corners.png') no-repeat;
}

.bg {
    width: 650px;
    height: 140px;
    background: url("../img/introbg.gif");
    position: absolute;
    left: -650px;
}

.dottedbg {
    width: 369px;
    height: 137px;
    position: absolute;
    background: url(../img/dottedbg.png);
}

.blur {
    position: absolute;
}

.vegetation, .vegetationWrapper {
    width: 48px;
    height: 45px;
    position: absolute;
    overflow: hidden;
}

.vegetation {
    display: none;
    background: url("../img/fps.png") no-repeat;
}

.vegetation p {
    position: absolute;
    display: block;
    top: 17px;
    left: 8px;
    width: 17px;
    height: 33px;
    text-align: center;
}

.view {
    position: absolute;
    top: 126px;
    width: 100px;
    height: 21px;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
}

.view p.view_top {
    position: absolute;
    border-bottom: 3px solid;
    border-bottom-color: #ff0000;
    color: #ff0000;
    top: 0;
}

.view p.view_bottom {
    position: absolute;
    border-bottom: 3px solid;
    border-bottom-color: #ffffff;
    color: #ffffff;
    top: 24px;
}

.desc_measurer {
    position: absolute;
    visibility: hidden;
    display: block;
}

.fblike{
    position: absolute;
    z-index: 999;
    left:-999px;
    top:44px;
}

.fblike iframe{
    background: #000000 !important;
}

.twitter-share-button{
    position: absolute;
    z-index: 999;
    top:44px;
    /*left:-999px;*/
}
#widget{
    background: #000000;
}

.chromeLabel{
    display: none;
    position: absolute;
    width:120px;
    height: 27px;
    background: url("../img/chrome.gif") no-repeat 0 2px;
    padding-left: 30px;
    line-height: 15px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
